<div class="dialog-wrapper">
  <h2 class="dialog-title" mat-dialog-title i18n="Delete account|Delete account title@@delete-account-title">
    Delete account?
  </h2>
  <mat-dialog-content mat-dialog-title i18n="Cannot undone|Cannot undone operation@@cannot-undone">
    This operation cannot be undone!
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="danger-button">
      <button class="dialog-button" mat-button [mat-dialog-close]="true" mat-dialog-title
              i18n="Yes|Yes@@yes">Yes</button>
    </div>
    <div>
      <button class="dialog-button" mat-button mat-dialog-close i18n="No|No@@No">No</button>
    </div>
  </mat-dialog-actions>
</div>
