<div class="dialog-wrapper">
  <h2 class="dialog-title" mat-dialog-title i18n="Delete account|Delete account title@@delete-account-title">
    Delete account?
  </h2>
  <mat-dialog-content mat-dialog-title i18n="Cannot undone|Cannot undone operation@@cannot-undone">
    This operation cannot be undone!
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" mat-dialog-close i18n="No|No@@No">No</button>
      <button mat-flat-button color="warn" [mat-dialog-close]="true"
              i18n="Yes|Yes@@yes">Yes</button>
  </mat-dialog-actions>
</div>
