<div>
  <table class="table-wrapper">
    <thead>
    <tr>
      <td i18n="Id|Import id@@id">Id</td>
      <td i18n="Application|application@@application">Application</td>
      <td i18n="Start date|Start date header@@start-date">Start date</td>
      <td i18n="End date|End date header@@end-date">End date</td>
      <td i18n="Delete messages|Delete messages button@@delete-messages">Delete messages</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let import of imports.imports">
      <td>{{import.id}}</td>
      <td><app-application-name [application]="import.application"></app-application-name></td>
      <td>{{import.startDate | date: 'dd.MM.yyyy HH:mm'}}</td>
      <td>{{import.endDate | date: 'dd.MM.yyyy HH:mm'}}</td>
      <td>
        <button mat-flat-button color="warn" (click)="delete(import.id)" [disabled]="deleting"
                i18n="Delete message|Delete message button@@delete-message">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
