/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f3f3f3}

.authentication-form-wrapper {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.authentication-form-button {
  margin-top: 30px;
}

.authentication-form .mat-form-field  {
  width: 300px;
}
.authentication-form .mat-flat-button {
  width: 300px;
}
.full-width-form .mat-form-field  {
  width: 100%;
}
.full-width-button .mat-button,
.full-width-button .mat-flat-button {
  width: 100%;
}
.half-width-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.half-width-form .mat-form-field  {
  width: 100%;
}
.dialog-wrapper {
  text-align: center;
}
.dialog-title {
  font-weight: bold;
}
.table-wrapper {
  width: 100%;
  border-collapse: collapse;
}
.table-wrapper thead tr {
  padding: 10px;
  font-weight: bold;
}
.table-wrapper tbody td {
  padding: 5px 0;
}
.unsent-message {
  border: 1px red solid !important;
}
