/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f3f3f3}

.authentication-form-wrapper {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.authentication-form-button {
  margin-top: 30px;
}

.authentication-form .mat-form-field  {
  width: 300px;
}
.authentication-form .mat-button {
  width: 300px;
}
.danger-button .mat-button:not([disabled]) {
  background-color: red;
}
.full-width-form .mat-form-field  {
  width: 100%;
}
.full-width-button .mat-button {
  width: 100%;
}
.dialog-wrapper {
  text-align: center;
}
.dialog-title {
  font-weight: bold;
}
.dialog-button {
  margin-left: 10px;
}
