<div class="dialog-wrapper">
  <h2 class="dialog-title" mat-dialog-title i18n="Delete messages|Delete messages dialog title@@delete-messages-title">
    Delete messages?
  </h2>
  <mat-dialog-content mat-dialog-title i18n="Imports will be ignored|Imports will be ignored info@@cancel-imports-message">
    This operation cannot be undone! Imports in progress will be cancelled!
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" mat-dialog-close i18n="No|No@@No">No</button>
    <button mat-flat-button color="warn" [mat-dialog-close]="true"
            i18n="Yes|Yes@@yes">Yes</button>
  </mat-dialog-actions>
</div>
