<div>
  <div *ngIf="aliases">
    <div class="full-width-button add-alias-button">
      <button mat-button (click)="addNew()" i18n="Add alias|Add alias button@@add-alias">
        Add new alias
      </button>
    </div>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="filterBy" (ngModelChange)="filterByChange($event)"
        placeholder="Search" i18n-placeholder="Search aliases| Text in search alias input@@search-input">
      </mat-form-field>

    </div>
    <table class="table-wrapper">
      <thead>
        <tr>
          <td>Name</td>
          <td>Application</td>
          <td>Application identifier</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alias of filtered" class="alias" (click)="navigate(alias)">
          <td>{{alias.name}}</td>
          <td>{{alias.application}}</td>
          <td>{{alias.inApplicationId}}</td>
          <td>
            <button *ngIf="!alias.internal" mat-button (click)="edit(alias.id, $event)" i18n="Edit alias|Edit alias button@@edit-alias">
              Edit alias
            </button>
          </td>

          <td class="danger-button">
            <button *ngIf="!alias.internal" mat-button (click)="delete(alias.id, $event)" i18n="Delete alias|Delete alias button@@delete-alias">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
