<div>
  <div *ngIf="aliases">
    <div class="full-width-button add-alias-button">
      <button mat-flat-button color="primary" (click)="addNew()" i18n="Add alias|Add alias button@@add-alias">
        Add new alias
      </button>
    </div>
    <div>
      <mat-form-field class="filter-input">
        <input matInput [(ngModel)]="filterBy" (ngModelChange)="filterByChange($event)"
        placeholder="Search" i18n-placeholder="Search aliases| Text in search alias input@@search-input">
      </mat-form-field>
    </div>
    <table class="table-wrapper">
      <thead>
        <tr>
          <td i18n="Name@Name@@name">Name</td>
          <td i18n="Application|Application@@application">Application</td>
          <td i18n="Application identifier|Application identifier@@application-identifier">Application identifier</td>
          <td i18n="Edit|Edit@@edit">Edit</td>
          <td i18n="Delete|Delete@@delete">Delete</td>
          <td i18n="Edit name|Edit name@@edit-name">Edit name</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alias of filtered" class="alias" (click)="navigate(alias)">
          <td>{{alias.name}}</td>
          <td><app-application-name [application]="alias.application"></app-application-name></td>
          <td>{{alias.inApplicationId}}</td>
          <td>
            <button *ngIf="!alias.internal" mat-flat-button color="accent" (click)="edit(alias.id, $event)" i18n="Edit alias|Edit alias button@@edit-alias">
              Edit alias
            </button>
          </td>

          <td>
            <button *ngIf="!alias.internal" mat-flat-button color="warn" (click)="delete(alias.id, $event)" i18n="Delete alias|Delete alias button@@delete-alias">
              Delete
            </button>
          </td>
          <td>
            <button *ngIf="alias.internal" mat-flat-button color="accent" (click)="editName(alias, $event)" i18n="Edit name|Edit name@@edit-name">
              Edit name
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
