<div class="user-password-change-wrapper">
  <form [formGroup]="passwordChangeForm" class="material-form full-width-form" autocomplete="on">
    <div>
      <mat-form-field>
        <input matInput formControlName="oldPassword" type="password" placeholder="Old password"
               autocomplete="current-password"
               i18n-placeholder="Old password placeholder|Text in old password placeholder@@old-password">
        <mat-error i18n="Password validation|Shown when password is empty@@old-password-required-validation"
                   *ngIf="passwordChangeForm.get('oldPassword').hasError('required')">
          Old password is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="newPassword" type="password" placeholder="New password"
               autocomplete="new-password"
               i18n-placeholder="New password placeholder|Text in new password placeholder@@new-password">

        <mat-error i18n="Password validation|Shown when password is empty@@password-required-validation"
                   *ngIf="passwordChangeForm.get('newPassword').hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="confirmNewPassword" type="password"
               autocomplete="new-password"
               placeholder="Confirm new password" [errorStateMatcher]="errorMatcher"
               i18n-placeholder="Confirm new password placeholder|Text in confirm new password placeholder@@confirm-new-password">

        <mat-error i18n="Confirm new password validation|Shown when new password is empty@@confirm-new-password-required-validation"
                   *ngIf="passwordChangeForm.get('confirmNewPassword').hasError('required')">
          You must confirm new password.
        </mat-error>
        <mat-error i18n="Confirm password validation|Shown when passwords do not match@@confirm-password-validation"
                   *ngIf="passwordChangeForm.hasError('matchPassword')">
          Passwords are different.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="full-width-button">
      <button mat-flat-button color="primary"
              [disabled]="passwordChangeForm.invalid || passwordChangeForm.errors"
              type="submit" (click)="changePassword()"
              i18n="Change password button| Text in change password button@@change-password">
        Change password</button>
    </div>
  </form>
</div>
<span [hidden]="true" #passwordChangedMsg
      i18n="Password changed|Password changed message@@password-changed-msg">Password changed</span>
