<div>
  <div>
    <div #scroll>
      <div *ngFor="let message of messages">
        <div class="message long-text"
          [ngClass]="{'message-by-contact': writtenByContact(message),
                      'message-by-user': writtenByUser(message),
                      'unsent-message': message.hasError}">
          <div>
            {{message.content}}
          </div>
          <app-attachments [attachments]="message.attachments"></app-attachments>
          <div class="message-data">
            <span *ngIf="writtenByContact(message) else you">{{message.contactName}}</span>
            {{message.date | date: 'dd.MM.yyyy HH:mm:ss'}}
            <span *ngIf="message.application">({{message.application}})</span>
            <ng-template #you>
              <span i18n="You|You (message written by you)@@you">You</span>
            </ng-template>
          </div>
          <div class="message-spacing"></div>
        </div>
        <div class="message-spacing"></div>
      </div>
    </div>
  </div>
</div>

