<div>
  <div>
    <div #scroll>
      <div *ngFor="let message of messages">
        <div class="message"
          [ngClass]="{'message-by-contact': writtenByContact(message), 'message-by-user': writtenByUser(message)}">
          <div>
            {{message.content}}
          </div>
          <div *ngIf="message.attachments.length > 0">
            <div *ngFor="let attachment of message.attachments" class="attachment">
              <img [src]="'data:' + attachment.contentType + ';charset=utf-8;base64, ' + attachment.content | safeImage">
            </div>
          </div>
          <div class="date">
            {{message.date | date: 'dd.MM.yyyy HH:mm:ss'}}
          </div>
          <div class="message-spacing"></div>
        </div>
        <div class="message-spacing"></div>
      </div>
    </div>
  </div>
</div>

