<div class="attachment-wrapper">
  <div *ngIf="getType() === 'image'">
    <img [src]="'/api/attachments/' + attachment.id  | attachment | async | notNull">
  </div>
  <div *ngIf="getType() === 'video'">
    <video controls>
      <source [src]="getVideoUrl()" [type]="attachment.contentType">
    </video>
  </div>
  <div *ngIf="getType() !== 'image' && getType() !== 'video'" class="full-width-button">
    <button mat-flat-button color="primary" (click)="downloadAttachment()">
      <span i18n="Download attachment|Text on download attachment button@@download-attachment">Download attachment</span>
      <span class="long-text"> ({{attachment.saveAsFilename}})</span>
    </button>
  </div>
</div>
