<mat-toolbar [color]="'primary'">
  <span  [routerLink]="['/']" class="app-title">Messages Viewer</span>
  <button mat-button *ngIf="isLoggedIn()" [routerLink]="['aliases']">Contacts</button>
  <button mat-button *ngIf="isLoggedIn()" [routerLink]="['search']">Search</button>
  <span class="spacer"></span>
  <button mat-button *ngIf="!isLoggedIn()" [routerLink]="['login']">Login</button>
  <button mat-button *ngIf="!isLoggedIn()" [routerLink]="['register']">Register</button>
  <button mat-button *ngIf="isLoggedIn()" [routerLink]="['account']">Account</button>
  <button mat-button *ngIf="isLoggedIn()" (click)="logout()">Logout</button>
</mat-toolbar>
