<div class="authentication-form-wrapper">
  <form [formGroup]="registerForm" class="authentication-form">
    <div>
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Username" [required]="true"
               i18n-placeholder="Username placeholder| Text in username placeholder@@username">
        <mat-error i18n="Username validation|Shown when username is empty@@username-required-validation"
                   *ngIf="registerForm.get('username').hasError('required')">
          Username is required.
        </mat-error>
        <mat-error i18n="Username validation|Shown when username is too long@@username-too-long-validation"
                   *ngIf="registerForm.get('username').hasError('maxlength')">
          Username must contain a maximum of {{maxUsernameLength}} characters.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput email formControlName="email" placeholder="Email" [required]="true"
               i18n-placeholder="Email placeholder| Text in email placeholder@@email">
        <mat-error i18n="Email validation|Shown when email is empty@@email-required-validation"
                   *ngIf="registerForm.get('email').hasError('required')">
          Email is required.
        </mat-error>
        <mat-error i18n="Email validation|Shown when email is invalid@@email-validation"
                   *ngIf="registerForm.get('email').hasError('email')">
          Enter valid email address.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="Password" [required]="true"
               i18n-placeholder="Password placeholder| Text in password placeholder@@password">

        <mat-error i18n="Password validation|Shown when password is empty@@password-required-validation"
                   *ngIf="registerForm.get('password').hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="confirmPassword" type="password" [required]="true"
               placeholder="Confirm password" [errorStateMatcher]="errorMatcher"
               i18n-placeholder="Confirm password placeholder| Text in confirm password placeholder@@confirm-password">

        <mat-error i18n="Confirm password validation|Shown when password is empty@@confirm-password-required-validation"
                   *ngIf="registerForm.get('confirmPassword').hasError('required')">
          You must confirm password.
        </mat-error>
        <mat-error i18n="Confirm password validation|Shown when passwords do not match@@confirm-password-validation"
                   *ngIf="registerForm.hasError('matchPassword')">
          Passwords are different.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="authentication-form-button">
      <button mat-flat-button color="primary"
              [disabled]="registerForm.invalid || registerForm.errors"
              type="submit" (click)="register()"
              i18n="Register button| Text in register button@@register">Register</button>
    </div>

  </form>
</div>
