<div class="search-wrapper">
  <div>
    <div class="query">
      <mat-form-field class="full-width">
        <input matInput placeholder="Search for" i18n-placeholder="Search for|Search for input@@search-for" [(ngModel)]="query">
      </mat-form-field>
    </div>
    <div class="aliases-list">
      <div *ngFor="let alias of aliases">
        <mat-checkbox [(ngModel)]="alias.checked" color="primary">{{alias.name}}</mat-checkbox>
      </div>
    </div>
    <div class="date">
      <mat-form-field appearance="fill">
        <mat-label i18n="Date from|Date from@@date-from">From</mat-label>
        <input matInput [matDatepicker]="pickerFrom" [(ngModel)]="from">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="date">
      <mat-form-field appearance="fill">
        <mat-label i18n="Date to|Date to@@date-to">To</mat-label>
        <input matInput [matDatepicker]="pickerTo" [(ngModel)]="to">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="clear"></div>
    <div class="checkbox">
      <mat-checkbox [(ngModel)]="ignoreLetterSize" color="primary" i18n="Ignore letter size|Ignore letter size checkbox@@ignore-letter-size">Ignore letter size</mat-checkbox>
    </div>
    <div class="checkbox">
      <mat-checkbox [(ngModel)]="hasAttachments" color="primary" i18n="Has attachments|Has attachments button@@has-attachment">Has attachments</mat-checkbox>
    </div>
    <div class="search-button-container">
      <button class="full-width" mat-flat-button color="primary" (click)="search()"
      [disabled]="cantSearch()" i18n="Search|Search button@@search">Search</button>
    </div>
  </div>
  <div *ngIf="results && results.length > 0 else noResults">
    <div *ngFor="let result of results" (click)="navigateToOriginal(result, $event)" class="result"
         [ngClass]="{'unsent-message': result.hasError}">
      <div class="contact-name">
        <span>{{result.contactName}} (</span>
        <span><app-application-name [application]="result.application"></app-application-name></span>
        <span> - </span>
        <span *ngIf="writtenByAppUser(result)" i18n="Written by you|Written by you@@written-by-you">written by you</span>
        <span *ngIf="writtenByContact(result)" i18n="Written by contact|Written by contact@@written-by-contact">
          written by {{result.contactName}}
        </span>
        <span>)</span>
      </div>
      <div class="date">{{result.date | date: 'dd.MM.yyyy HH:mm:ss'}}</div>
      <div class="message-content long-text" [innerHTML]="searchHighlight(result.content)">
      </div>
      <div class="clear"></div>
      <app-attachments [attachments]="result.attachments"></app-attachments>
      <div *ngIf="result.allAliases.length > 1" class="other-aliases">
        <span i18n="Other aliases|Other aliases navigation@@other-aliases">Other aliases:</span>
        <ul>
          <li *ngFor="let other of getOtherAliases(result.allAliases, result)"
              class="other-alias"
          (click)="navigateToOther(other, result, $event)">{{other.name}}</li>
        </ul>
      </div>
    </div>
    </div>
  <ng-template #noResults>
    <div class="no-results" i18n="No results|No results|@@no-results">
      No results.
    </div>
  </ng-template>
</div>
<span [hidden]="true" #cantSearchMessage
      i18n="Can't search|Can't search message@@cant-search">You can't search without providing "Search for" or providing "from" / "to" date or setting "has Attachment"</span>
