.alias:hover {
  cursor: pointer;
  background-color: #e3e3e3;
}
.add-alias-button {
  margin-bottom: 10px;
}
.table-wrapper {
  width: 100%;
  border-collapse: collapse;
}
.table-wrapper thead tr {
  padding: 10px;
  font-weight: bold;
}
.table-wrapper tbody td {
  padding: 5px 0;
}

