<div>
  <div>
    <div class="query">
      <mat-form-field class="full-width">
        <input matInput placeholder="Search for" [(ngModel)]="query">
      </mat-form-field>

    </div>
    <div class="aliases-list">
      <div *ngFor="let alias of aliases">
        <mat-checkbox [(ngModel)]="alias.checked" color="primary">{{alias.name}}</mat-checkbox>
      </div>
    </div>
    <div class="ignore-letter-size-checkbox">
      <mat-checkbox [(ngModel)]="ignoreLetterSize" color="primary">Ignore letter size</mat-checkbox>
    </div>
    <div class="search-button-container">
      <button class="full-width" mat-button (click)="search()">Search</button>
    </div>
  </div>
  <div *ngIf="results else noResults">
    <div *ngFor="let result of results" (click)="navigate(result, $event)" class="result">
      <div class="contact-name">
        <span>{{result.contactName}} ({{result.application}} </span>
        <span *ngIf="writtenByAppUser(result)">written by you)</span>
        <span *ngIf="writtenByContact(result)">written by contact)</span>
        <span class="date">{{result.date | date: 'dd.MM.yyyy HH:mm:ss'}}</span>
        <span class="clear"></span>
      </div>
      <div class="message-content">
        {{result.content}}
      </div>
      <div *ngIf="result.attachments.length > 0">
        <div *ngFor="let attachment of result.attachments" class="attachment">
          <img [src]="'data:' + attachment.contentType + ';charset=utf-8;base64, ' + attachment.content | safeImage">
        </div>
      </div>
    </div>
  </div>
  <ng-template #noResults>
    <div class="no-results">
      No results.
    </div>
  </ng-template>
</div>
